.message-of-the-day {
    background-color: lightblue;
    text-align: center;
    padding: 0.2em;
}

.content {
    padding: 2em;
}

.signup {
    max-width: 40em;
    margin: auto;
}

footer {
    background-color: whitesmoke;
    padding: 0.4em;
}